@import "./globales.scss";

#why-me-hero {
    margin: 0 auto;
    max-width: 1000px;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items:center;
    /* background-color: aqua; */
    gap: 48px;
    margin-top: 96px;
    /* padding: 32px; */
    
}

.container-images {
    max-width: 600px;
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    /* background-color: brown; */

    
}



#hero-image1 {
    max-width: 100%;
    
    border-radius: 8px;
    overflow: hidden;
    
    
    
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    

}

#hero-image2 {
    /* max-width: 100%;
    height: auto; */
    
    border-radius: 8px;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    .why-me-image {
        max-width: 100%;
        /* height: auto; */
        
        border-radius: 8px;
        
        
        
    
        
        
        /* img {
            object-fit: cover;
            object-position: top;
          } */
    }
    
    
    

    
}


#hero-imagefull {
    max-width: 100%;
    
    border-radius: 8px;
    overflow: hidden;
    
    

    
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    /* img {
        object-fit: cover;
        object-position: center;
      } */
}

